<!DOCTYPE html>
<html>
	<head>
			<script src="static/vendor/angular.js"></script>
	</head>
	<body>

		<div ng-app="testApp" ng-controller="testCtrl">
	 
			<p>Input something in the input box:</p>
			<input type="text" ng-model="enteredText" placeholder="Enter name here">
			<div>{{editedText}}</div>

		</div>
		<script src="static/js/testApp.js"></script>
	</body>
</html>

