{% load staticfiles %}
<html>
    <head>
        <title>Download audio</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static 'js/audio.js' %}"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <h1>Enter vk id:</h1>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputId" class="col-sm-2 control-label">ID:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputId" placeholder="21520578">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button  type="button" class="btn btn-success" id="downloadButton" onclick="downloadAudio()">Download</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>